<h1>All Events</h1>

<% if @future_events.any? %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Upcoming Events:</h4>
		</div>
		<div class="panel-body">
			<%= render "events/event_list", collection: @future_events, show_status: true %>
		</div>
	</div>
<% else %>
	<div align="center">
		<h4>No events are scheduled.</h4>
		<p><%= link_to "Create an Event", new_event_path, class: "btn btn-primary" %>
	</div>
<% end %>

<% if @past_events.any? %>

<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Past Events:</h4>
		</div>
		<div class="panel-body">
			<%= render "events/event_list", collection: @past_events %>
		</div>
	</div>

<% end %>