<footer class="text-muted">
	<hr>
	<p><small>A simple demo site for managing events. View the code on 
		<%= link_to "GitHub", "https://github.com/shasta28/event-lite", target: "_blank" %>.</small>
		<br>
		<small>Built in Ruby on Rails as part of <%= link_to "The Odin Project", "http://www.theodinproject.com/ruby-on-rails/associations", target: "_blank" %>.</small>
	</p>
	<br>
</footer>